<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-">
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista"

    >
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light" (click)="alterarImagem()">
          {{!mostrarImagem ? 'Mostrar' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="!mostrarImagem"
              [isAnimated]="true"
              src="/assets/{{evento.imagemURL}}"
              [style.width.px]="larguraImagem"
              [style.margin.px]="margemImagem"
        >
        </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.local}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8">Nenhum Evento Encontrado</td>
    </tr>
  </tfoot>
</table>
<!-- <div >
  <p></p>
  <p><b>Local:</b> {{evento.Local}}</p>
</div> -->
